input {
  width: 100%;
  margin: 25px 0;
}

textarea {
  width: 100%;
  height: 200px;
  padding: 25px;
}

.navigation {
  padding: 25px 0;
  a {
    margin-right: 30px;
    float: right;
  }
}

p {

  @include breakpoint(laptop) {
    font-size: 2rem;
  }
}

.printchat {
  border: 1px solid black;
  padding: 25px;
  margin: 30px 0;

  p:first-child {
    font-style: italic;
    font-weight: bold;
  }
}

.auth {

  form {
    div {

      label:first-child {
        margin-top: 15px;
      }
      input {
        margin: 0 0 15px 0;
      }
    }
  }
}

.message-text {
  margin: 30px 0 10px 0;
}